body {
  margin: 0px;
}

canvas {
  /*background-color: lightblue; */
  background-image: url("https://upload.wikimedia.org/wikipedia/en/5/53/Wipeout_2011_logo.png");
  background-size: cover; 
  
  margin: 20px;
}

img {
  display: none;
}
